@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: #fff;
    margin: 0;
    font-family: Roboto;
}

.lists {
    margin-top: -200px
}

@media (max-width: 760px) {
    .lists {
        margin-top: -100px
    }
}